.burger {
  width: 29px;
  cursor: pointer;

  span {
    display: block;
    width: 60%;
    height: 1px;
    margin-bottom: 6px;
    background: var(--white-color);
    transition: all .3s ease;

    //&:first-child {
    //  width: 70%;
    //}
    //
    //&:last-child {
    //  width: 45%;
    //}
  }

  &:hover span {
    width: 65%;
  }
}

.burger.open {
  //span {
  //  width: 70%;
  //}

  span:last-child {
    display: none;
  }

  span:first-child {
    transform: rotate(45deg);
    margin-bottom: 0;
  }

  span:nth-child(2n) {
    transform: rotate(-45deg);
  }
}
