.rating {
  align-items: center;
  background: var(--red-color);
  color: var(--white-color);
  height: 64px;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  display: flex;
  justify-content: center;
  margin-top: -32px;
}
