// Специфичные стили страницы Home
.section-top {
  background: #252424;
  padding: 30px 0 53px 0;

  .title {
    width: 173px;
  }
}

.card-list {
  display: grid;
  gap: 20px;
  grid-template-columns: 50% 50%;
  flex-wrap: wrap;
}
