// Шапка
.header {
  background: var(--dark-color);
  height: 70px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;

  &-container {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 7px 0;
  }

  .logo {
    color: var(--white-color);
  }

  &.light-bg {
    background: var(--white-color);

    .logo {
      color: var(--dark-color);
    }
  }

  .logo .svg-icon {
    height: 55px;
    width: 80px;
  }
}
