mixin card()
    li.card
        a.card__link
            picture
                source(srcset="img/cover.webp" type="image/webp")
                img(loading="lazy" src="img/cover.jpg" alt="")
            h3.card__title Термокружка
            .card__bottom
                span.card__count 700
                svg.svg-icon
                    use(xlink:href="img/icons/icons.svg#star")

