mixin header()
    header.header 
        .container
            .header-container
                a.logo
                    svg.svg-icon
                        use(xlink:href="img/icons/icons.svg#logo")
                .burger
                    span
                    span
                    span
