mixin header()
    header.header 
        .container
            .header-container
                a.logo
                    img(src="img/logo.svg" alt="Логотип")
                .burger
                    span
                    span
                    span
