mixin main()
    main.main.main--bg-white
        .container
            ul.card-list
                include ../components/card
                +card
                include ../components/card
                +card
                include ../components/card
                +card
                include ../components/card
                +card
